<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatbaseFilepath" value="AppData\servers.s3db"/>
    <add key="connection" value="Data Source={0};Version=3;New=False;Compress=True;"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
